.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
}

button {
  border: none;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
li,
a {
  text-decoration: none;
}
